.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
  }
.container > {
    .header, .content, .sidebar, .footer, div {
      background: $color-uno;
      padding: 20px;
      border: 1px solid #000000;
    }
  
    .header, .footer {
      grid-column: 1/-1;
      background-color: $color-uno;
      color: #ffffff;
    }
  
    .content {
      grid-column: span 3;
      grid-row: span 4;
    }
  }
  
  .content {
    > .article {
      background: $color-uno;
      padding: 20px;
      margin-top: 5px;
      color: red;
    }
  
    .article {
      h1, p {
        padding: 10px;
      }
    }
  }
  
  .container {
    > .sidebar {
      grid-column: span 2;
      grid-row: span 4;
      background: $color-uno;
      color: red;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .sidebar img {
      display: block;
      width: 100%;
      margin-top: 5px;
    }
  
    > .related-post {
      background: $color-uno;
      color: #ffffff;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
  
      &:hover {
        cursor: pointer;
        color: #000000;
        background: #ffffff;
      }
    }
  }